/* affects everything*/
* {
 font-family: "Baskerville", Helvetica, Arial, sans-serif;
 font-weight: lighter;
 position: relative;
}

body { 
  max-width: 1080px; 
  margin: 0 auto !important; 
  float: none !important; 
  background-color: #e1e7e6;
}

/* nav bar things*/
div {
  text-align: center;
  margin: 
}

/* items within nav bar*/
a {
  color: black;
}

a.active {
  color: black;
  font-weight: bold;
}

/* name on top of page*/
h1 {
  text-align: center;
  font-weight: lighter;
}

/* headshot on main page*/
img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* regular text on main page*/
p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 500px;
}